.mt-notice-container {
  top: var(--drupal-displace-offset-top, 0px);
  left: var(--drupal-displace-offset-left, 0px);
  position: fixed;
  font-family: Arial,Helvetica,sans-serif;
  width: calc(100% - var(--drupal-displace-offset-left, 0px));
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  z-index: 100000;
  color: #2c2c2c;
  background: #e4e8e8;
}

.translation-notice {
  margin-left: 25px;
  padding: 10px;
  font-size: 12px;
}

.mt-notice-container .mt-notice-link {
  font-weight: bold;
  color: #1f4094;
  text-decoration: none;
  border: none;
  background: transparent;
}

#mt-notice-hide {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 10px;
  height: 10px;
  width: 10px;
  line-height: 10px;
  font-size: 20pt;
}

.block-webt-mt-notice {
  display: none;
}
