#edit-mt-engine-selection {
  margin-top: 40px;
}

.mt_engines_container:first-child {
  border-top: 1px solid #d3d3d3;
}

.mt_engines_container div {
  border-bottom: 1px solid #d3d3d3;
  padding: 12px;
  margin: 0;
}

.mt_engines_container label {
  display: inline-block;
  width: 50%;
  font-size: 12pt;
  font-weight: normal;
}

.mt_engines_container select {
  width: 49%;
}

.text-align-right {
  text-align: right;
}
